<!-- <p>vehicles works!</p> -->
<input type="text" placeholder="enter text to search" [(ngModel)]="keywords" (keyup)="search()">

<select [(ngModel)]="column">
    <option value="Vehicle">Vehicle Name</option>
    <option value="color">Color</option>
    <option value="cost">Cost</option>
    <option value="fuel">Fuel</option>
</select>

<select [(ngModel)]="order">
    <option value="asc">Asending Order</option>
    <option value="desc">Desending Order</option>
</select>

<button class="btn btn-secondary" (click)="sort()">Sort</button><br>

<!-- pagination -->
<select [(ngModel)]="limit">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
</select>

<select [(ngModel)]="page">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<button class="btn btn-primary" (click)="pagination()">Pagination</button>

<button routerLink="/dashboard/create-vehicle">Create-Vehicle</button>


<table border="5" class="table table-dark">
    <thead>
        <tr>
            <th>S.No</th>
            <th>vehicle</th>
            <th>color</th>
            <th>cost</th>
            <th>fuel</th>
            <th>id</th>
            <th>image</th>
            <th>model</th> 
            <th>actions</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles;let i=index">
            <td>{{i+1}}</td>
            <td>{{vehicle.Vehicle |uppercase}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.id}}</td>
            <td><img src="{{vehicle.image}}" alt="" width="100px"></td>
            <td>{{vehicle.model}}</td>
            <td>
                <button class="btn btn-info" routerLink="/dashboard/vehicle-details/{{vehicle.id}}">
                    <i class="bi bi-eye-fill"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-warning" routerLink="/dashboard/edit-vehicle/{{vehicle.id}}">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </td>
            <td><button class="btn btn-danger"
                (click)="delete(vehicle.id)">Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>
