<!-- <p>calculator works!</p> -->
<div class="calculator">
    <div class="calculator1">
        <label><h3>Number 1:</h3></label>
        <input type="number" [(ngModel)]="num1">
        <label><h3>Number 2:</h3></label>
        <input type="number" [(ngModel)]="num2"><br>
        <div class="buttons">
            <button (click)="sum()" [disabled]="(num1==0)||(num2==0)">Sum</button>
            <button (click)="sub()" [disabled]="(num1==0)||(num2==0)">Sub</button>
            <button (click)="mul()" [disabled]="(num1==0)||(num2==0)">Mul</button>
            <button (click)="div()" [disabled]="(num1==0)||(num2==0)">Div</button>
        </div><br>
        <h2>Result is:{{result}}</h2>
    </div>
</div>
