<!-- <p>create-user works!</p> -->
<form [formGroup]="userForm">
    <label>Name:</label>
    <input type="text" formControlName="name"><br>
    

    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name Should Required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength']">Name Should be minimum 6 letters</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength']">Name Should be maximum 12 letters</p>

    </div>


    <label>Mobile:</label>
    <input type="number" formControlName="mobile"><br>
    <label>Email:</label>
    <input type="email" formControlName="email"><br>
    <label>Password:</label>
    <input type="password" formControlName="password"><br>

    <div formGroupName="address">
    <label>City:</label>
    <input type="text" formControlName="city"><br>
    <label>State:</label>
    <input type="text" formControlName="state"><br>
    <label>Pincode:</label>
    <input type="number" formControlName="pin"><br>    
    </div>

    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholor">
    <label>Day Scholor</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label>Residential</label><br>

    <div *ngIf="userForm.get('type')?.value=='dayScholor'">
        <label>Bus Fee:</label>
        <input type="number" formControlName="busFee"><br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label>Hostel Fee:</label>
        <input type="number" formControlName="hostelFee"><br>
    </div>

    <label>cards</label>
    <button class="btn btn-success" (click)="addCard()">Add card</button><br>


<div formArrayName="cards">
    <div *ngFor="let card of CardsFormArray.controls;let i=index">
        <div formGroupName="{(i)}">
            <h1>Card{{i+1}}</h1>
            <label>Number:</label>
            <input type="number" formControlName="number"><br> 
            <label>Name:</label>
            <input type="text"formControlName="name"><br>
            <label>expiry:</label>
            <input type="month" formControlName="expiry"><br>
            <label>cvv:</label>  
            <input type="number" formControlName="cvv"><br>

            <button class="btn btn-danger" (click)="deleteCard(i)">Delete</button>
        </div>
    </div>
</div>    
    <button (click)="submit()" class="btn btn-primary">submit</button>
</form>
