<div class="parent">
    <div class="left">
        <h1>MY Website</h1>
        <hr>
        <h3 routerLink="/dashboard/home">Home</h3>
        <h3 routerLink="/dashboard/welcome">Welcome</h3>
        <h3 routerLink="/dashboard/databinding">Data Binding</h3>
        <h3 routerLink="/dashboard/directives">Directives</h3>
        <h3 routerLink="/dashboard/calculator">Calculator</h3>
        <h3 routerLink="/dashboard/rectangle">Rectangle</h3>
        <h3 routerLink="/dashboard/circle">Circle</h3>
        <h3 routerLink="/dashboard/bmi">BMI</h3>
        <h3 routerLink="/dashboard/employeesdata">Employees Data</h3>
        <h3 routerLink="/dashboard/vehicles">Vehicles</h3>
        <h3 routerLink="/dashboard/flipkart">Flipkart</h3>
        <h3 routerLink="/dashboard/mail">Mail</h3>
        <h3 routerLink="/dashboard/weather">Weather</h3>

        <hr>
        <button>logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
